<div>
  <h1>App Component</h1>
</div>
Parent Data : <input type="text" #Pcomponent (keyup)="0">
<br>
<br>
Data From Child Component: {{Cdata}}
<br>
<br>
<br>
<button type="button" (click)="login()">Login</button>
<button type="button" (click)="logout()">Logout</button>
@if(isValid){
  <p>You Are Logged In !!</p>
}
@else{
  <p>You Are not Logged In !!</p>
}

@switch(name){
  @case('Mohan'){
    <p>Hello Mohan</p>
  }
  @case('Ram'){
    <p>Hello Ram</p>
  }
  @case('Dinker'){
    <p>Hello Dinker</p>
  }
  @case('Dinesh'){
    <p>Hello Dinesh</p>
  }
  @case('Saket'){
    <p>Hello Saket</p>
  }
  @default{
    <p>No Data Match</p>
  }
}

<app-employee [Pdata]="Pcomponent.value" (childevent)="getdata($event)"></app-employee>

<app-data></app-data>